html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: #f3f4f6; /* gutter color */
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#app {
  width: 100%;
  max-width: 420px;   
  height: 100dvh; 
  background: #EEE1D7;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#wall-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex: 1 1 35%;
  height: 35%;
  background-image: url(wall.PNG);
  background-size: cover;
  justify-content: space-between;
}

#background-left {
  padding-top: 20px;
  z-index: 1;
  flex: 0 1 auto;
  min-width: 0;
  max-height: 70%;
  max-width: 140px;
}

#window {
  width: 60%;
  display: flex;
  flex: 0 1;
  align-self: center;
  padding-bottom: 20px;
  max-height: 100%; 
}

#cat-happy{
  width: 166px;
  height: 189px;
}

#counter-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex: 0 1 40%;
  height: 40%;
  background: #f2c789;
  z-index: 1;
  min-height: 0;
  position: relative;
}

#counter {
  position: absolute;
  width: 100%;
  object-fit: cover; 
  top: -60px;
}

#pie-container {
  max-width: 100%;
  height: 200px;
  position: relative;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
}

.pie {
  position: absolute;
  width: 80%;
  min-width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}


#pie-baked {
  z-index: 5;
}

#pie-sugar {
  z-index: 4;
}

#pie-butter {
  z-index: 4;
} 

#pie-sugar-no-jam {
  z-index: 3;
}

#pie-butter-no-jam {
  z-index: 3;
}

#pie-jam {
  z-index: 3;
}

#pie-dough {
 z-index: 2;
}

#pie-empty {
  z-index: 1;
}


/*INVENTORY*/


#inventory {
  background-color: #FFE8C2;
  flex: 0 0 150px;  
  border-top: solid 1px #90634E;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
  z-index: 2;
}

.inventory-slot {
  background-color: #F5D8AC;
  height: 102px;
  width: 80px;
  border-radius: 12px;
  min-width: 56px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 6px;
}

.inventory-item-container {
  height: 56px;
  display: flex;
  align-items: center;
}

.inventory-item {
  width: auto;
  touch-action: none;
}

#inventory-dough {
  height: 32px;
}

#inventory-strawberry {
  height: 30px;
  padding-top: 8px;
}

#inventory-butter{
  height: 32px;
  padding-top: 8px;
}

#inventory-sugar {
  height: 48px;
  padding-bottom: 2px;
}

.inventory-label {
  margin: 8px 0 0 0;
  font-family: 'Indie Flower' ,'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: #4f301f;
  font-size: 20px;
}
