html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #f3f4f6; /* gutter color */
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  max-width: 420px;   
  height: 100dvh; 
  background: #EEE1D7;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#wall-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex: 1 1 35%;
  height: 35%;
  background-image: url(wall.PNG);
  background-size: cover;
  justify-content: space-between;
}

#background-left {
  padding-top: 20px;
  z-index: 1;
  flex: 0 1 auto;
  min-width: 0;
  max-height: 70%;
  max-width: 160px;
}

#window {
  width: 60%;
  display: flex;
  flex: 0 1;
  align-self: center;
  padding-bottom: 20px;
  max-height: 100%; 
}

#cat-happy{
  width: 166px;
  height: 189px;
}

#counter-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex: 0 1 40%;
  height: 40%;
  background: #f2c789;
  z-index: 1;
  min-height: 0;
}

#counter {
  width: 100%;
  object-fit: cover; 
  margin-top: -60px;
}

#inventory {
  background-color: #FFE8C2;
  flex: 0 0 150px;  
  border-top: solid 1px #90634E;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
  z-index: 2;
}

.inventory-slot {
  background-color: #F5D8AC;
  height: 102px;
  width: 80px;
  border-radius: 12px;
  min-width: 56px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 6px;
}

.inventory-item-container {
  height: 56px;
  display: flex;
  align-items: center;
}

.inventory-item {
  width: auto;
}

#inventory-dough {
  height: 28px;
}

#inventory-strawberry {
  height: 26px;
  padding-top: 8px;
}

#inventory-butter{
  height: 28px;
  padding-top: 8px;
}

#inventory-sugar {
  height: 48px;
  padding-bottom: 2px;
}

.inventory-label {
  margin: 8px 0 0 0;
  font-family: 'Indie Flower' ,'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: #4f301f;
}
